<div class="ink-grid vertical-space">
  <p>Welcome to Prodio, a different take on Project Management.</p>
  <p>Prodio takes a different approach to Project Management. Instead of forcing
    you into a standard or process Prodio lets you define the process and helps
    you automate your way to completion.</p>
  <p>Under the hood Prodio is nothing more than a simple Graph Database holding
    your projects tasks (as nodes) and reference data (as edges).  This means
    that Prodio can model any popular Project Management Process (like Kanban,
    Scrum, Waterfall, etc) or can be used with its own different approach.</p>
  <p>Prodio's default behavior is to utilize a simple to navigate and manage
    Mindmap to display, edit, and track your progress.  Adding a new task,
    feature, story, or whatever you want to call it is simple.  Open the project
    and add in a new node.  Then go to reports to view how the new node affects
    the project as a whole.</p>
</div>
