<div class="ink-grid vertical-space">
  <h1>New Project</h1>
  <form class="ink-form" data-controller="FormSubmitter" action="/api/v1/project" data-target="#project/{_id}">
    <div class="control-group required">
      <label>Project Name:</label>
      <div class="control">
        <input name="name" placeholder="Project name..." />
      </div>
    </div>
    <div class="control-group">
      <label>Description</label>
      <div class="control">
        <input name="description" placeholder="Description..." />
      </div>
      <label>Version:</label>
      <div class="control">
        <input name="version" placeholder="0.0.1" />
      </div>
    </div>
    <div class="control-group">
      <button class="ink-button blue">Create</button>
    </div>
  </form>
</div>
