<div class="ink-grid vertical-space">
  <div class="column-group">
    <h1>Projects</h1>
    <div class="all-100"><a class="ink-button blue small" href="#project/new"><i class="fa fa-plus-circle"></i> Create New</a></div>
    <div class="all-100 vertical-space">
      {{#each items}}
        <div class="all-25 medium-50 small-100 tiny-100">
          <div class="column-group">
            <div class="all-80"><h3><a href="#project/edit/{{_id}}">{{name}}</a></h3></div>
            <div class="all-20"><span class="ink-badge grey">v{{version}}</span></div>
          </div>
          <p class="all-100">{{description}}</p>
        </div>
      {{else}}
        <div class="all-100">No projects currently available, why not <a href="#project/new">create one</a>?</div>
      {{/each}}
    </div>
  </div>
</div>
